<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/urls"><h2>TinyApp</h2></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls"><h5>My URLs</h5></a>
        <a class="nav-item nav-link" href="/urls_new"><h5>Create New Short Link</h5></a>
      </div>
      <div class="collapse navbar-collapse justify-content-end navbar-nav" id="navbarNavAltMarkup">
        <% if (!userId) { %> 
          <a class="nav-item nav-link" href="/register"><h5>Register</h5></a>
          <a class="nav-item nav-link" href="/login"><h5>Login</h5></a>
          <% } %>
      </div>
    </div>
    <% if (userId) { %>
      <p><h4 class="align-middle" style="color:#85898C">Logged in as: <%= user['email'] %></h4></p>
    <div>
      <form class="form-inline" action="/logout" method="POST" style="display: table; margin: auto;">
        <input type="submit" value="Logout" class="btn btn-outline-secondary" style="margin: 10px"/>
        </form>
    </div>
    <% } %>
  </nav>
</header>
